.container fluid {
    padding: 0%;
    margin: 0;
    text-decoration: none;
    outline: none;
}
.box {
    box-shadow: 0 2px 2px -2px #cccccc;
    background: #fbfbfb;
    border: 1px solid #cdcdcd;
    border-radius: 0px;
    margin-top: 20px;
    
}
* {
    padding: 0%;
    margin: 0;
    text-decoration: none;
    outline: none;
}
div {
    display: block;
}
body {
    font: 400 12px "Open Sans", Helveticaneue, Helvetica, Arial;
    color: #707070;

}
html {
    -webkit-text-size-adjust: 100;
}
    .container-fluid::before {
        display: table;
        content: "";
        line-height: 0%;
    }
    .container-fluid::after {
        display: table;
        content: "";
        line-height: 0%;
        clear: both;
    }
.box .box-header {
border-top-right-radius: 0%;
border-top-left-radius: 0%;
}
.box .box-header:after {
    display: table;
    content: "";
    line-height: 0%;
}
.padded {
    padding: 15px;
}
.table-content {
    overflow:auto;
}
.box form {
    padding: 0%;
}
form {
    margin-bottom: 0%;
    margin: 0 0 20px;
}
form {
display:block
}
element .style {
    display: none;
}
.form-horizontal .control-group {
    margin-bottom: 20px;
}
.form-horizontal .control-group::before {
    display: table;
    content: "";
    line-height: 0;
}
.form-horizontal .control-group::after {
    clear: both;
    display: table;
    content: "";
    line-height: 0;
}
.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}
label {
    font-size: 12px;
    color: #5f5f5f;
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    line-height: 20px;
}
label {
    cursor: pointer;
}
.form-horizontal .form-actions {
    padding-left: 180px;
}
.form-actions {
    margin-bottom: 0%;
    padding: 19px 20px 20px;
    margin-top: 20px;
    background-color: whitesmoke;
    border-top: 1px solid #e5e5e5;

}
.form-actions::before {
display: table;
content: "";
line-height: 0;
}
.form-actions::after {
clear: both;
display: table;
content: "";
line-height: 0;
}
.box form {
    padding:0%;
}
.table-content > .active, {
    display:block;
}
.table-content {
    overflow: auto;
}
element.style {
    clear: both;
    color: #aaa;
    padding: 20px;
}
.main-content {
    position: relative;
    margin-left: 201px;
}